@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: rgba(10, 12, 28, 1);
  position: relative;
}

.content {
  height: 781px;
  width: 327px;
  border-radius: 8px;
  background: rgba(27, 25, 55, 1);
  box-shadow: 0 20px 20px -10px rgba(23, 25, 41, 0.2031);
}

.mobile-image {
  background-image: url('./images/image-header-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  left: 0;
  top: 0;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.overlay {
  height: 240px;
  width: 327px;
  left: 0;
  top: 0;
  background-color: #9c01fc59;
}

.
